<%- include("./partials/default/header") %>
<%- include("./partials/default/breadCrumb") %>  
<!-- 404 Page Starts  -->
<div class="page-404 padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content-404 text-center">
                    <img src="/assets/images/404.png" alt="404">
                    <a href="/" class="template-button margin-top-60">Go back home</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/default/footer") %> 