            <!-- /.container-fluid -->
            <footer class="footer text-center">&copy; nAcademy <script>document.write(new Date().getFullYear())</script>. Designed by <a href="#">Sunday Ishaya</a>, <a href="#">Mohammad Sadiq</a>, <a href="#">Kwis Lawrence Francis</a></footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Counter js -->
    <script src="/static/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/static/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- chartist chart -->
    <script src="/static/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="/static/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="/static/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>


      <!-------Hamburger script------->
    <script>
      function myFunction() {
          document.getElementById("myDrpdown").classList.toggle("show");
      }
      window.onclick = function(event) {
          if (!event.target.matches('.drpbtn')) {
              var dropdown = document.getElementsByClassName("drop-content");
              var i;
              for (i = 0; i < dropdown.length; i++) {
                  var openDropdown = dropdown[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
              }
          }
      }
  </script>

  <!---------Skills pills script--------->
    <script>
      initFeatures();

    function addFeature() {
      var $features = $('.features');
      var pillInput = $('<span class="tag pill-input"><input name="skills" class="skill-input" type="text" size="1"/> <i class="delete"> &times; </i></span>');
      $features.append(pillInput);
      initFeatures();
      $('.pill-input').last().find('input').focus()
    }

    function removeFeatures() {
      $('.pill-input').remove();
      initFeatures();
    }

    function initFeatures() {
      var $parent = $('.pill-input');
      var $input = $('.pill-input > input');
      var $closeButton = $('.delete');
      
      $closeButton.click(function() {
        $(this).parent().remove();
      });

      $parent.click(function() {
        $(this).find('input').focus();
      });

      $input.focus(function() {
        $(this).parent().addClass('focus');
      });

      // editted
      let skills = $("input.skill-input")
      .map(function(){return $(this).val();}).get();
      console.log(skills);
      
      $input.blur(function() {
        var input = $(this);
        
        if (input.length) {
          input.parent().addClass('tag-gray')
        }
        
        input.parent().removeClass('focus');
      });

      var e = 'keyup,keypress,focus,blur,change'.split(',');

      for (var i in e) {
        $input.on(e[i], function() {
          var $this = $(this);

          if ($this.val().length == 0) {
            $this.attr('size', 1);
          } else {
            $this.attr('size', $this.val().length);
          }
        });
      }
    
    }
  </script>

  <!-------Availability toggle script------>
<script>
  $('.cb-value').click(function() {
  var mainParent = $(this).parent('.toggle-btn');
  if($(mainParent).find('input.cb-value').is(':checked')) {
    const data = {
      // name should be the instructors name as this
      // this is a sample
      name: 'emmanuel'
    }
    axios.post('/instructor/update-availability', data )
        .then( response => {
          // alert(data);
            console.log(response);
        })
        .catch(err => alert('an arr ocuured..'));
         $(mainParent).addClass('active');

  } else {
    const data = {
      name: 'emmanuel'
    }
    axios.post('/instructor/update-availability', data )
        .then( response => {
          // alert(data);
            console.log(response);
         
        })
        .catch(err => alert('an arr ocuured..'));
        $(mainParent).removeClass('active');

  }

  })
</script>

  







    <!-- <script>
        jQuery(function($) {

            $('#tags input').on('focusout', function() {
              var txt = this.value.replace(/[^a-zA-Z0-9\+\-\.\#]/g, ''); // allowed characters list
              if (txt) $(this).before('<span class="tag">' + txt + '</span>');
              this.value = "";
              this.focus();
            }).on('keyup', function(e) {
              // comma|enter (add more keyCodes delimited with | pipe)
              if (/(188)/.test(e.which)) $(this).trigger('focusout')
              // var array = $.makeArray(document.getElementsByTagName("input").value);  
            });
          
            $('#tags').on('click', '.tag', function() {
              if (confirm) $(this).remove();
            });
          
          });
    </script> -->
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/js/dashboard1.js"></script>
    <script src="/static/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <script src= "https://code.jquery.com/jquery.min.js"></script> 
    <script src= "https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"> </script>
    <script> 
      // $(function() { 
      //     $('#toggle-one').bootstrapToggle({ 
      //         on: 'Available', 
      //         off: 'Not Available' 
      //     }); 

      //     $('#toggle-one').change(function(){
      //       console.log($(this).prop('checked'))
      //     })
      // }) 
  </script>  
</body>

</html>
