<!-- CounterUp Section Starts -->
<section class="counterup-section">
    <div class="container">
        <div class="counterup-content common-section padding-top-60 padding-bottom-30">
            <div class="counter-shape">
                <img src="/assets/images/round-shape-2.png" alt="shape" class="round-shape-2">
                <img src="/assets/images/plus-sign.png" alt="shape" class="plus-sign item-rotate">
                <img src="/assets/images/round-shape-3.png" alt="shape" class="round-shape-3">
            </div>
            <div class="row align-items-center">
                <div class="col-xl-3 col-sm-6">
                    <div class="single-counterup">
                        <div class="single-counterup-image">
                            <img src="/assets/images/counter-image-1.png" alt="image">
                        </div>
                        <div class="single-counterup-content">
                            <div class="counter-number">
                                <h3 class="title counter">15</h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span>expert instructors</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-counterup">
                        <div class="single-counterup-image">
                            <img src="/assets/images/category-icon-3.png" alt="image">
                        </div>
                        <div class="single-counterup-content">
                            <div class="counter-number">
                                <h3 class="title counter">75</h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span>students enrolled</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-counterup">
                        <div class="single-counterup-image">
                            <img src="/assets/images/counter-image-2.png" alt="image">
                        </div>
                        <div class="single-counterup-content">
                            <div class="counter-number">
                                <h3 class="title counter">4</h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span>experience years</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="single-counterup">
                        <div class="single-counterup-image">
                            <img src="/assets/images/category-icon-6.png" alt="image">
                        </div>
                        <div class="single-counterup-content">
                            <div class="counter-number">
                                <h3 class="title counter">8</h3>
                                <h3 class="title">+</h3>
                            </div>
                            <span>total course</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>