        <!-- CTA Section Starts -->
        <section class="cta-section gradient-bg padding-top-60 padding-bottom-30">
            <div class="cta-shape">
                <img src="/assets/images/plus-sign.png" alt="image" class="plus-sign item-rotate">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title margin-bottom-40">
                            <h2>enhance your skills with <span>best tech course</span></h2>
                        </div>
                        <div class="cta-button">
                            <a href="/auth/register" class="template-button margin-right-20">start teaching</a>
                            <a href="/auth/student" class="template-button-2">start learning</a>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-2 col-lg-6">
                        <div class="cta-image">
                            <img src="/assets/images/cta-image.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section Starts -->
        <footer class="footer-section padding-top-30 padding-bottom-60">
            <div class="footer-shape">
                <img src="/assets/images/round-shape-3.png" alt="shape" class="round-shape-3">
            </div>
            <div class="container">
                <div class="footer-widget-section">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="/"><img src="/assets/images/logo.png" alt="logo"></a>
                                </div>
                                <p>Our Coding Academy is geared towards training young people towards building a digital economy, so they can find jobs and lead vastly improved lives.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="title">courses</h4>
                                </div>
                                <ul>
                                    <li><a href="/web-development">Web Development</a></li>
                                    <li><a href="/mobile">Mobile Development</a></li>
                                    <li><a href="/ar-vr">AR / VR</a></li>
                                    <li><a href="/robotics">Robotics</a></li>
                                    <li><a href="/data-science">Data Science</a></li>
                                    <li><a href="/graphics">UI / UX Design</a></li>
                                    <!-- <li><a href="#">UI / UX Design</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="title">useful links</h4>
                                </div>
                                <ul>
                                    <li><a href="/about">about us</a></li>
                                    <li><a href="#">terms of service</a></li>
                                    <li><a href="#">legal info</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <div class="widget-title">
                                    <h4 class="title">company</h4>
                                </div>
                                <div class="company-address d-flex">
                                    <div class="address-icon template-icon green-icon margin-right-10">
                                        <i class="icofont-address-book"></i>
                                    </div>
                                    <div class="address-info">
                                        <a href="mailto:info.nAcademy@gmail.com" style="color: rgb(241, 133, 51);">info.nAcademy@gmail.com</a> <br>
                                        <span>3rd floor, TAEN business complex, old airport, Jos plateau state</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright-section">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <div class="copyright-text">
                                <span>&copy; <span style="text-transform: lowercase;">n</span>Academy <script>document.write(new Date().getFullYear())</script>. Designed by <a href="#">Sunday Ishaya</a>, <a href="#">Muhammad Sadiq</a>, <a href="#">Kwis Lawrence Francis</a></span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-7">
                            <div class="copyright-button">
                                <div class="dropup-item item-1">
                                    <button class="template-button-2" type="button">
                                        <span class="margin-right-10">$ USD</span><i class="fa fa-caret-up"></i>
                                    </button>
                                    <ul class="toggle-box box-1">
                                        <li><a href="#">$ 500</a></li>
                                        <li><a href="#">$ 700</a></li>
                                    </ul>
                                </div>
                                <div class="dropup-item item-2 margin-left-20">
                                    <button class="template-button" type="button">
                                        <span class="margin-right-10">English</span><i class="fa fa-caret-up"></i>
                                    </button>
                                    <ul class="toggle-box box-2">
                                        <li><a href="#">Bengali</a></li>
                                        <li><a href="#">Arabic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>


        <!-- Javascript Files -->
        <script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/slick.min.js"></script>
        <script src="/assets/js/vendor/counterup.min.js"></script>
        <script src="/assets/js/vendor/waypoints.min.js"></script>
        <script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
        <script src="/assets/js/vendor/isotop.min.js"></script>
        <script src="/assets/js/vendor/barfiller.js"></script>
        <script src="/assets/js/vendor/countdown.js"></script>
        <script src="/assets/js/vendor/easing.min.js"></script>
        <script src="/assets/js/vendor/wow.min.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>