<!-- Instructor Section Starts -->
<section class="instructor-section gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Our <span>instructors</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-instructor">
                    <span class="instructor-sign">Sunday</span>
                    <div class="instructor-image" style="width: auto; height: 29vh;">
                        <img src="/assets/images/instructor-1.png" alt="image" style="width: 100%; height: inherit !important; background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                    <div class="instructor-content">
                        <h4><a href="#">Sunday Ishaya</a></h4>
                        <span>Fullstack Developer</span>
                    </div>
                    <div class="hover-state">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-instructor diffrent-bg-color">
                    <span class="instructor-sign">Sadiq</span>
                    <div class="instructor-image" style="width: auto; height: 29vh;">
                        <img src="/assets/images/instructor-3.png" alt="image" style="width: 100%; height: inherit !important; background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                    <div class="instructor-content">
                        <h4><a href="#">Sadiq Muhammad</a></h4>
                        <span>Web Developer</span>
                    </div>
                    <div class="hover-state">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-instructor">
                    <span class="instructor-sign">Catherine</span>
                    <div class="instructor-image" style="width: auto; height: 29vh;">
                        <img src="/assets/images/instructor-2.png" alt="image" style="width: 100%; height: inherit !important; background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                    <div class="instructor-content">
                        <h4><a href="#">Catherine Jonathan</a></h4>
                        <span>Web Developer</span>
                    </div>
                    <div class="hover-state">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-instructor diffrent-bg-color">
                    <span class="instructor-sign">Dunji</span>
                    <div class="instructor-image" style="width: auto; height: 29vh;">
                        <img src="/assets/images/instructor-4.png" alt="image" style="width: 100%; height: inherit !important; background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    </div>
                    <div class="instructor-content">
                        <h4><a href="#">Dunji Zacks</a></h4>
                        <span>Backend Developer</span>
                    </div>
                    <div class="hover-state">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="instructor-button margin-top-20 text-center">
                    <a href="javascript:void(0)" class="template-button" >coming soon</a>
                </div>
            </div>
        </div>
    </div>
</section>