<%- include("../partials/instructor/instructorsHeader") %> 

<style>
.link{
	color: rgb(238, 120, 10);
}

.link:hover{
	color: rgb(243, 186, 79);
}
</style>

<!-- ============================================================== -->
		<!-- Page Content -->
		<!-- ============================================================== -->
<div id="page-wrapper">
<div class="container-fluid">
<!-- hambuga -->
<%- include("../partials/admin/hamburger") %>
<!-- hambuga -->
    <%- include("../partials/admin/adminBreadCrumb") %>
    <!-- /row -->
    <div class="row">
            <div class="col-sm-12">
            <div class="white-box">
                    <h3 class="box-title">Students</h3>
                    <div class="table-responsive">
                    <table class="table student-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Current course</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>hello</td>
                                <td>hello</td>
                                <td>hello</td>
                                <td>hello</td>
                                <td>hello</td>
                                <td>hello</td>
                            </tbody>
                    </table>
                    </div>
            </div>
            </div>
    </div>
    <!-- /.row -->
</div>

<%- include("../partials/instructor/instructorsFooter") %> 
