<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- new nav -->
    <div class="col-md-4"></div>
    <div class="col-md-4 drpdown">
        <button onclick="myFunction()" class="drpbtn"><i class="fas fa-bars"></i></button>

        <ul id="myDrpdown" class="drp-content" style="list-style: none;">
            <li>
                <a href="/admin/profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
            </li>
             <li>
                <a href="/admin/create-course" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Create course</a>
            </li>
            <!-- <li>
                <a href="/admin/update-course" class="waves-effect"><i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>Update course</a>
            </li> -->
        
            <li>
                <a href="/admin/all-instructors" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>All Instructors</a>
            </li>

            <li>
                <a href="/admin/all-courses" class="waves-effect"><i class="fa fa-book fa-fw" aria-hidden="true"></i>All Courses</a>
            </li>
            <li>
                <a href="/admin/approved-instructors" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Approved Instructors</a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>Student Management</a>
            </li>
            <li>
                <a href="/auth/logout" class="waves-effect"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></i>Log out</a>
            </li>
        </ul>
    </div>
</div>
